.App {
  text-align: center;
}

.navigation-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin: 50px;
}

/* Style the logo */
.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  color: #fff;
}

/* Style the navigation bar */
.nav {
  width: 200px;
  height: 100%;
  color: black;
  box-sizing: border-box;
  display: flex;
}

/* Style the navigation links */
.nav a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
}

/* Change the links on hover */
.nav a:hover {
  text-decoration: underline;
}

/* Style the content container */
.content {
  margin: 50px;
  padding: 20px;
  box-sizing: border-box;
}